<form action="{{ postURL }}" method="post">
    <label for="newColor">Pick Color</label>
    <input type="color" id='newColor' name='newColor' value='#00fbff'>
    <input type = "submit" value="submit">
</form>